* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Playfair", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    text-align: center;
}

.header__title {
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
    font-size: 2.5rem;
    text-align: center;
}

.container__slider {
    background-color: #778da9;
    padding-bottom: 50px;
}

.slider__wrapper {
    display: inline-block;
    vertical-align: middle;
}

.slider__wrapper {
    width: 100%;
    max-width: 43.6875rem;
    overflow: hidden;
    margin: 20px;
}

.slider__line {
    display: flex;
}

.slider__decscription {
    display: flex;
    justify-content: space-between;
    padding: 0 43px;
}

.slider__content {
    display: flex;
}

.slider__text {
    display: none;
    font-size: 26px;
    color: #e0e1dd;
}

.active-text {
    display: inline-block;
}

.slider__img {
    scroll-snap-align: center;
    border-radius: 1.5rem;
}

input[name='check'] {
    visibility: hidden;
}

.navigation {
    display: flex;
    gap: 0.19rem;
    align-items: center;
}

.slider__button {
width: 0.9rem;
height: 0.9rem;
background-color: #e0e1dd;
cursor: pointer;
border-radius: 50%;
border: 0.5rem solid #778da9;
opacity: 0.5;
}

.slider__button:hover {
opacity: 1;
}

.active-button {
    background-color: #1b263b;
}